@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}
.background {
    background-image: url("./assets/bg.svg");
    background-repeat: no-repeat;
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.container {
    max-width: 70rem;
    margin: 0 auto;
}

/*----------------------- navbar --------------------------*/
.navbar {
    display: flex;
    justify-content: space-between;
    height: 20vh;
    align-items: center;
}
.navbar .logo img {
    width: 100px;
}
.navbar .list {
    list-style-type: none;
    display: flex;
    gap: 50px;
    color: #FFFFFF;
    font-weight: lighter;
    align-items: center;
}
.navbar .list .list-item:first-child{
    color: #5ba0e0;
}
.list-item:last-child button {
    background-color: #5ba0e0;
    border: none;
    color:white;
    padding: 14px 30px;
    text-transform: uppercase;
    font-weight: lighter;
    border-radius: 4px;
}


.first {
    display: flex;
    margin-top: 50px;
    gap: 40px;
}
.first-left h1 {
    color: white;
    font-size: 3.4rem;
    line-height: 60px;
    margin-bottom: 30px;
}
.first-left p {
    color: white;
    font-size: 14px;
    font-weight: 400;
}
.first-left button {
    background-color: #5ba0e0;
    border: none;
    color: white;
    padding: 14px 30px;
    text-transform: uppercase;
    font-weight: lighter;
    border-radius: 5px;
    font-size: 15px;
    font-weight: lighter;
    margin-top: 40px;
    cursor: pointer;
}
.first-right {
    margin-top: -80px;
}
.first-right img {
    width: 650px;
}
@media only screen and (max-width: 1110px) {
    .navbar {
        overflow-x: auto;
        height: 14vh;
        gap: 20px;
       
    }
    .navbar .list-item:last-child button {
        background-color: #5ba0e0;
        padding: 10px 0px;
        min-width: 100px;
        margin-left: 40px;
        margin-right: 20px;
    }
    .first .first-left h1 {
        font-size: 2.4rem;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .first .first-left button {
        padding: 10px 20px;
        font-size: 14px;
        margin-top: 20px;
    }
    .first .first-right img {
        width: 450px;
    }
} 
@media only screen and (max-width: 815px) {
    .first .first-right {
        opacity: .2;
        position: absolute;
        z-index: -1;
        width: 100%;
    }
    .first {
        justify-content: center;
        margin-top: 120px;
    }
    .first .first-left  {
        width: 400px;
    }
}
@media only screen and (max-width: 500px) {
    .first .first-left  {
        padding: 0 20px;
    }
}
.second {
    display: flex;
    align-items: center;
    gap: 120px;
    margin-top: 70px;
}
.second-left img {
    width: 500px;
}
.second-right h4 {
    font-size: 1.5rem;
    margin-bottom: 40px;
}
.second-right .list {
    display: flex;
    list-style-type: none;
    gap: 22px;
    flex-direction: column;
}
.list-item p {
    font-size: 14px;
}
.list-item h6 {
    font-size: 1.1rem;
    margin-bottom: 10px;
}
@media only screen and (max-width: 916px) {
    .second {
        gap: 20px;
        justify-content: center;
    }
    .second .second-left img {
        width: 400px;
    }
}
@media only screen and (max-width: 700px) {
    .second {
        flex-direction: column;
        margin-top: 300px;
    }
    .second .second-left img {
        width: 400px;
    }
}


.customer {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 100px;
    margin-top: 70px;
}
.customer h2 {
    margin-bottom: 40px;
}
.customer .customer-cards {
    display: flex;
    gap: 40px;
    justify-content: center;
}
.customer .customer-cards .icon {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(245,56,6, .2);
    margin: 40px auto 30px auto;
    border-radius: 500px;
}
.customer .customer-cards .icon.analytics {
    background-color: rgba(255, 193, 58, 0.2);
}
.customer .customer-cards .icon.profile {
    background-color: rgba(101, 255, 58, 0.2);
}
.customer .customer-cards .icon.profile img {
    width: 60px;
}
.customer .customer-cards .icon.support {
    background-color: rgba(235, 58, 255, 0.2);
}
.customer .customer-cards .icon.support img {
    width: 50px;
}
.customer .customer-cards .icon.code img {
    width: 50px;
    display: inline-block;
    text-align: center;

}
.customer .customer-cards .card {
    max-width: 13rem;
    
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 20px;
    overflow: hidden;
    height: 260px;
}
.customer .customer-cards .card:first-child .info {
    background-color: #542795;
    color: white;
}
.customer .customer-cards .card .info {
    border-radius: 10px;
    height: 100%;
    padding: 4px 10px;
}
.customer .customer-cards .card .info h4 {
    font-size: 17px;
    font-weight: 500;
}
.customer .customer-cards .card .info p {
    font-size: 13px;
    margin-top: 4px;
}
@media only screen and (max-width: 700px) {
    .customer .customer-cards {
        flex-wrap: wrap;
    }
}